<table>
	<thead>
		<tr>
			<th>Nombre</th>
			<th>Edad</th>
			<th></th>
			<th></th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		<% @model.each do |test| %>
			<tr>
				<td><%= test.name %></td>
				<td><%= test.age %></td>
				<th><%= link_to "Ver", test %></th>
				<th><%= link_to "Editar", edit_test_path(test) %></th>
				<th><%= link_to "Eliminar", test %></th>
			</tr>
		<% end %>
	</tbody>
</table>

<%= link_to "Crear", new_test_path %>
<a href="tests/new">Nuevo</a>